<div class="d-flex justify-content-between  align-items-center bg-primary rounded" style="height: 40px;">
    <span class="text-white mx-2">TODO List Items</span>
    <button class="btn text-white" (click)="addItem()">
        <fa-icon [icon]="faPlus"></fa-icon>
        New Item
    </button>
  </div>

<div class="mt-4 mb-4">
    <input [(ngModel)]="searchPattern" (input)="search()" type="text" class="form-control" id="inputName" placeholder="Search notes">
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col" class="hover-header" (click)="sort('name')">
                <span class="me-2 text-secondary">Name</span>
                <fa-icon style="color: rgb(108, 117, 125)"
                    [icon]="this.sortObject.name.sortMode === ESortMode.ASC ? faArrowUpWideShort : faArrowDownWideShort"
                    class="mx-1"></fa-icon>
            </th>
            <th scope="col" class="hover-header" (click)="sort('description')">
                <span class="me-2 text-secondary">Description</span>
                <fa-icon style="color: rgb(108, 117, 125)"
                    [icon]="this.sortObject.description.sortMode === ESortMode.ASC ? faArrowUpWideShort : faArrowDownWideShort"
                    class="mx-1"></fa-icon>
            </th>
            <th scope="col" class="hover-header" (click)="sort('version')">
                <span class="me-2 text-secondary">Version</span>
                <fa-icon style="color: rgb(108, 117, 125)"
                    [icon]="this.sortObject.version.sortMode === ESortMode.ASC ? faArrowUpWideShort : faArrowDownWideShort"
                    class="mx-1"></fa-icon>
            </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let todoItem of todoList">
            <td>
                <img *ngIf="todoItem.image" [src]="todoItem.image" class="img-preview">
                <img *ngIf="!todoItem.image" src="../../assets/no-photo.png" class="img-preview">
            </td>
            <td>{{ todoItem.name }} </td>
            <td>{{ todoItem.description }} </td>
            <td>{{ todoItem.version }}</td>
            <td>
                <button (click)="edit(todoItem)" class="btn btn-primary mx-2 float-end">
                    <fa-icon [icon]="faEdit"></fa-icon>
                </button>
                <button (click)="deleteItem(content, todoItem.name)" class="btn btn-danger mx-2 float-end">
                    <fa-icon [icon]="faTrash"></fa-icon>
                </button>
                <button (click)="visualize(todoItem)" class="btn btn-secondary mx-2 float-end">
                    <fa-icon [icon]="faBinoculars"></fa-icon>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<ng-template #content let-modal>
    <div class="modal-header bg-primary ">
        <h4 class="modal-title text-white" id="modal-basic-title">Confirmation</h4>
        <button class="btn-close btn" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        Are you sure?
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" (click)="modal.close('yes')">Yes</button>
        <button class="btn btn-secondary" (click)="modal.close('no')">No</button>
    </div>
</ng-template>